<div class="alert alert-info">
	<b>Info:</b> All markdown features supported except headings, table, horizontal rule and inline image. Use <code>`[anchor text](path/to/image.jpg)`</code> instead.
</div>		