<div class="row">
	<div class="col-md-12">
		<%= link_to 'Back', reports_path, class: "btn btn-default" %>
		<h3>New Daily Stand-Up Report</h3>
		<%= render 'info' %>
		<%= render 'form', report: @report %>
	</div>
</div>
